* {
  font-family: var(--font_family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top {
    background: var(--main-light);
}

body {
    background: var(--main-dark);
}
