@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {  
  --main-light: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --main-dark: #485461;; 
}

body {
    font-family: 'Manrope', sans-serif;
}
